.loading {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

#chatgpt-result {
  & pre,
  & code,
  & p {
    white-space: pre-wrap;
    margin-bottom: 1rem;
  }

  & code,
  & pre {
    font-family: monospace !important;
  }

  & p,
  & ul,
  & ol {
    // opacity: 0.7;

    & pre {
      display: inline !important;
      background: none !important;
      padding: 0 !important;
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
